sphinx>=7
sphinx-needs[plotting] @ git+https://github.com/useblocks/sphinx-needs@master
sphinx-design
sphinx-immaterial
sphinxcontrib-plantuml
sphinx-autobuild
sphinx-test-reports
sphinx-simplepdf
sphinx-preview
weasyprint==60.2