span.sp_preview_icon {
    color: rgba(0,0,0,0.6) !important
}

.md-grid {
max-width: 80rem !important;

}

table.need {
    width: 100% !important;
}

table.need tbody {
    display: table;
    width: 100%
}

/* table.NEEDS_TABLE {
    width: 100% !important
}

table.NEEDS_TABLE tbody, table.NEEDS_TABLE thead {
    width: 100% !important;
    display: table;

} */

span.need-part a.internal {
    vertical-align: super;
    font-size: 0.8em;

}

table.needs_type_req tr.head td {
    border-bottom: 4px solid #10b8c4;
}

table.needs_type_spec tr.head td {
    border-bottom: 4px solid #3333aa;
}

table.needs_type_test tr.head td {
    border-bottom: 4px solid #b21dcf;
}

table.needs_type_testrun tr.head td {
    border-bottom: 4px solid #b38405;
}

table.needs_type_impl tr.head td {
    border-bottom: 4px solid #b11616;
}

table.needs_type_person td.meta {
    border-top: 4px solid #508002 !important;
}

table.needs_type_team td.meta {
    border-top: 4px solid #b7ff43 !important;
}